/* Estilo de la cabeza de página */
header {
    background: #222;
    color: #888;
    text-align: center;
}

/* Estilo del pie de página */
footer {
    background-color: #05161A;
    color: #999;
    text-align: center;
    padding: 10px 0;
    position:fixed;
    left:0px;
    bottom: 0;
    width: 100%;
    font-family: consolas, monospace;
    font-weight: bold;
    font-size: 1.8rem;
}

h1 {
    font-family: consolas, monospace;
    font-weight: bold;
    font-size: 2.8rem;
    padding-top: 40px;
    color: white;
}

a{
    text-decoration: none;
    color: white;
    background-color: #05161A;
}

*{
    background: #05161A;
    margin: auto;
    padding: auto;
}

.asig{
    width: 290px;
    height: 210px;
}

.asig:hover{
    background: #0C7075;
    border-radius: 5%;
}

.container{
    position: absolute;
    display: flex;
    top: 26%;
    left: 12%;
    flex-flow: row wrap;
    width: 620px;
    height: 400px;
    gap: 10px;
}

.card{
    position: absolute;
    top: 26%;
    left: 53%;
    width: 650px;
    height: 433px;
    perspective: 1000px;
}

.card-inner{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
}

.card:hover .card-inner{
    transform: rotateY(180deg);
}

.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front{
    transform: rotateY(0deg);
    background: #0C7075;
    border-radius: 2%;
}

.card-back{
    transform: rotateY(180deg);
    background: #0C7075;
    border-radius: 2%;
}

.card-back p{
    color: white;
    font-family: consolas, monospace;
    font-weight: bold;
    font-size: 1.6rem;
    position: absolute;
    top: 30%;
    left: 18%;
    width: 400px;
    height: 150px;
    background: #0C7075;
    text-align: center;
}

.presentacion{
    border-radius: 50%;
    background: none;
    position: absolute;
    top: 15%;
    left: 27%;
    width: 300px;
    height: 300px;
}


img{
    width: 24px; height: 24px;
    color: white;
}
